ci:
  autofix_prs: true
  autofix_commit_msg: "[pre-commit.ci] auto fixes"
  autoupdate_schedule: monthly
  autoupdate_commit_msg: "ci(deps-dev): pre-commit autoupdate"
  skip:
  - uv-lock

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v5.0.0
  hooks:
  - id: check-json
    exclude: "\\.vscode/.*.json"
  - id: check-toml
  - id: check-yaml
  - id: end-of-file-fixer
    exclude: "plugins/.*/.*\\.lock"
  - id: trailing-whitespace

- repo: https://github.com/tox-dev/pyproject-fmt
  rev: "v2.5.1"
  hooks:
  - id: pyproject-fmt

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.0
  hooks:
  - id: ruff
    args: [--fix, --exit-non-zero-on-fix, --show-fixes]
  - id: ruff-format

- repo: https://github.com/pre-commit/pre-commit
  rev: v4.1.0
  hooks:
  - id: validate_manifest

- repo: https://github.com/astral-sh/uv-pre-commit
  rev: "0.6.9"
  hooks:
    - id: uv-lock
    - id: uv-sync
