name: Test tap-bitso

on:
  push:
    branches: [ main ]
    paths:
    - tap_bitso/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  pull_request:
    branches: [ main ]
    paths:
    - tap_bitso/**
    - tests/**
    - pyproject.toml
    - uv.lock
    - .github/workflows/test.yml
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: 1
  # renovate: datasource=pypi depName=uv
  UV_VERSION: 0.7.8
  # renovate: datasource=pypi depName=tox
  TOX_VERSION: 4.26.0
  # renovate: datasource=pypi depName=tox-uv
  TOX_UV_VERSION: 1.26.0

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        include:
        - { environment: "dependencies", python-version: "3.x" }
        - { environment: "typing" ,      python-version: "3.x" }

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
    - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - uses: astral-sh/setup-uv@f0ec1fc3b38f5e7cd731bb6ce540c5af426746bb # v6.1.0
      with:
        version: ${{ env.UV_VERSION }}
    - name: Run
      env:
        UV_PYTHON: ${{ steps.setup-python.outputs.python-path }}
        TAP_BITSO_KEY: ${{ secrets.TAP_BITSO_KEY }}
        TAP_BITSO_SECRET: ${{ secrets.TAP_BITSO_SECRET }}
      run: >
        uvx
        --with tox-uv==${{ env.TOX_UV_VERSION }}
        --with tox==${{ env.TOX_VERSION }}
        tox -e ${{ matrix.environment || matrix.python-version }}
