name: Test tap-bitso

on:
  push:
    branches: [ main ]
    paths:
    - tap_bitso/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  pull_request:
    branches: [ main ]
    paths:
    - tap_bitso/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yml
    - .github/workflows/constraints.txt
  schedule:
  - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    env:
      FORCE_COLOR: "1"
      PIP_CONSTRAINT: ${{ github.workspace }}/.github/workflows/constraints.txt
    strategy:
      fail-fast: false
      matrix:
        script: ["test:integration"]
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        include:
        - { script: "test:dependencies", python-version: "3.12" }
        - { script: "typing:check",      python-version: "3.12" }

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - uses: actions/setup-python@v5
      id: setup-python
      with:
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
        cache: pip

    - name: Upgrade pip
      run: |
        pip install pip
        pip --version

    - name: Install Hatch
      run: |
        pipx install --python ${{ steps.setup-python.outputs.python-path }} hatch
        hatch --version

    - name: Run
      env:
        TAP_BITSO_KEY: ${{ secrets.TAP_BITSO_KEY }}
        TAP_BITSO_SECRET: ${{ secrets.TAP_BITSO_SECRET }}
      run: |
        hatch run ${{ matrix.script }}
